* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    max-width: 30px;
}

.container {
    max-width: 800px;
    margin: 50px auto auto auto;
}

.students_main {
    display: flex;
    justify-content: space-between;
    min-width: 437px;
    width: 100%;
}

.new-student {
    max-width: 100px;
}