* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    max-width: 30px;
}

.container {
    max-width: 800px;
    margin: 50px auto auto auto;
}

.new-student {
    max-width: 100px;
}